{% extends 'accounts/main.html'%}
{% load static %}
{% block content %}
    <br>
    <div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Confirm that you want to delete "{{ item }}"</p>
            <form action="{% url 'delete_order' item.id %}" method="POST">
                {% csrf_token %}
            <a class="btn btn-sm btn-danger" href="{% url 'home' %}">Cancel</a>
            <input class="btn btn-sm btn-info" type="submit" name="Confirm">
            </form>
        </div>
    </div>
    </div>
{% endblock %}